*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;   padding: 0;
    box-sizing: border-box;
    outline: none;  border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
  }

  a{
    text-decoration: none; color: black; 
  }
  
  html{
    font-size: 65.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
  }
  /* navbar */
  .container3index .home{
  position:absolute;display:block;
    background: rgba(0,0,0,0)
      linear-gradient(
        rgba(0, 0, 0, 0)0px,
        rgba(0, 0, 0, 0)100%) repeat 0 0; 
    z-index:1;
    background-image: url(../image/Color.png);
    background-repeat: no-repeat;
    background-size: cover; 
    padding: 3px; padding-bottom: 75px; 
  }
.navbar-nav{
	margin-right: 0 !important;
}
#home{
  color:#F00;
}
#picker{
  color:#008000;
}
#mixer{
  color:#00F;
}
.navbar-brand h3{
  z-index:2; position:relative; color:white;
  font-weight:bolder;
}
.navbar-brand h3 span{
  color:red
}
.nav-item a{
	 font-size:15px; margin-right: 40px; 
   font-weight: bolder;z-index:2; position:relative;
}
.nav-item{
	padding-top: 33px; 
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.navbar-brand{
	padding-left: 250px; padding-top: 0; padding-bottom: 0;
}
.navbar-brand img{
 padding: 0;
height: 80px;
}

#navbar button{
	color: white !important;
}

.home article{
  padding: 30px; margin: auto;
  margin: 20px;
  color:black;
  font-size: 2.5rem;

}
.home article p{
  margin-left: 50px;
color: #000;
text-align: center;
font-family: Inter;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;justify-content: center;

display: flex;
width: 1014px;
flex-direction: column;

}
.home article #explore{
  font-size: 20px; border:1px solid hsl(0, 12%, 97%); color: black;
  font-weight: bolder;
  margin:10px; margin-left:40%;padding:5px 40px;
  border: radius 30px;
  background-color:white;z-index:2; position:relative;
  color: #000;
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 700;
align-items: center;
gap: 10px;

}


@keyframes float{
  0%, 100%{
      transform: translate(0rem);
  }
  50%, 100%{
      transform: translatey(3rem);
  }
}

.home article h1{
  color: #000;
text-align: center;
font-family: Inter;
font-size: 80px;
font-style: normal;
font-weight: 700;
line-height: normal;

display: flex;
width: 1300px;
height: 200px;
flex-direction: column;

}

/* Color Pages */

.maincontainer .sidebar{
  background-color: aliceblue; padding: 30px; border-radius: 20px;
  box-shadow: 0 .5rem 1rem rgb(192, 187, 187);
}
.maincontainer .sidebar ul li,ul li a{
  list-style-type: none; margin-bottom: 50px; 
  font-weight: bold; font-family: monospace; 
  font-size: 20px;
}
.maincontainer .sidebar ul li a:hover{
  color:#c8725c;
}
#pickerh3{
  color: blue;
}

  /* media */
@media only screen and (max-width: 987px){
  .container3index .home{
    padding-bottom: 30px;
  }
  .color-bar{
    display: initial;
  }
  .nav-item a{
    margin: 0%; padding: 0%;
  }
  .maincontainer .sidebar{
		display: none;
    
	}
	.navbar-brand{
		padding-left: 0px;
	}
  .slider{
    margin: auto;
  }
  .colorname{
    margin:   auto 200px;
  }
  .coloroutput{
    font-size: 10px; margin: 0;
  }
  #showColor{
    margin: 0;
  }
  .division{
    display: block; margin: auto 50px ; margin-right: 0;
  }
}


@media only screen and (max-width: 768px){
	
  .home article h1{
    font-size: 30px;
    width: 250px;height: 200px;
    
  }
  .home article p{
    font-size: 20px;
    width: 150px; height: 200px;
  }
  .home article #explore{
    margin-left: 50px;
  }
  .container{
    min-width: 300px; padding-left: 0; margin-left: 0;
    width: 100%;
  }
  .maincontainer .container{
    min-width: 300px; padding-left: 0; margin-left: 0;
    width: 100%; display: block;
  }
 

}
  