*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;   padding: 0;
    box-sizing: border-box;
    outline: none;  border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
  }
 
  a{
    text-decoration: none; color: black; 
  }
  
  html{
    font-size: 65.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
  }
  /* navbar */

.navbar-nav{
	margin-right: 0 !important;

}

.navbar{
	background-color: #ffffff;
	
}

.nav-item a{
	color: black; font-size:15px; margin-right: 70px;
}
.nav-item a:hover{
  color:#D46524;
}
.nav-item{
	padding-left: 2px; padding-top: 30px;
}

.navbar-brand{
	padding-left: 100px;
}
.navbar-brand img{
  height: 50px;

}
#navbar button{
	color: white !important;
}
.home{
  padding: 3px;
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  
}
.home article{
  flex: 1 1 60rem;
  margin: 20px;
  color: #333;
  font-size: 2.5rem;

}
.home article p{
  padding: 30px;
  margin-top: 5px; font-family: monospace;
  font-size: 2rem; margin-bottom: 0;padding-bottom: 0;
}
.home aside{
  flex: 1 1 40rem;
  margin: 20px;
}
.home aside img{
  padding: 10px;
  width: 100%;
  border-radius: 50%;
  animation: float 3s linear infinite;
}
@keyframes float{
  0%, 100%{
      transform: translate(0rem);
  }
  50%, 100%{
      transform: translatey(3rem);
  }
}

.home article h1{
  margin-top: 30px;
  text-align: center;
  color: #666;
  padding: 1rem 0;
  font-size: 4rem;
}
.home article h1 span{
  color: blue;
}

.btn{
  display:inline-block;
  padding:.8rem 3rem;
  border: 1px solid black;
  cursor: pointer;
  font-size: 1.7rem;
  border-radius: .5rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin-top: 1rem;
  color:rgb(153, 69, 69);
  /* background-color: rgb(178, 223, 235); */
  
  
}

.btn::before{
  content:'';
  position: absolute;
  top:0;  right:0;
  width:0%;
  height: 100%;
  background: #D46524;
  transition: .3s linear;
  z-index:  -1;

}
.btn:hover::before{
  width: 100%;
  left: 0;
}
.btn:hover{
  color: #fff;
}
.footer{
  background: #000;
  text-align: center;
  width: 100%; margin-top: 20px;
}
.footer .share{
  display: flex;
  gap:1.5rem; font-size: larger;
  justify-content: center;
  flex-wrap: wrap;
}
.footer .share a{
  font-size: 20px; color: wheat; border: 1px solid #D46524;
}
.footer .credit{
  padding: 2rem 1rem;
  color: #fff;
  font-weight: normal ;
}
.footer .credit span{
  color: blue;
}


/* Color Pages */
.maincontainer{
  display: flex;
  gap: 40px;
}
.maincontainer .sidebar{
  background-color: aliceblue; padding: 30px; border-radius: 20px;
  box-shadow: 0 .5rem 1rem rgb(192, 187, 187);
}
.maincontainer .sidebar ul li,ul li a{
  list-style-type: none; margin-bottom: 50px; 
  font-weight: bold; font-family: monospace; 
  font-size: 20px;
}
.maincontainer .sidebar ul li a:hover{
  color:#c8725c;
}

  /* media */
@media only screen and (max-width: 987px){
  .color-bar{
    display: initial;
  }
  .maincontainer .sidebar{
		display: none;
    
	}
	.navbar-brand{
		padding-left: 0px;
	}
  .slider{
    margin: auto;
  }
  .colorname{
    margin:   auto 200px;
  }
  .coloroutput{
    font-size: 10px; margin: auto;
  }
  #showColor{
    margin: 0;
  }
}


@media only screen and (max-width: 768px){
	
  .container{
    min-width: 500px; padding-left: 0; margin-left: 0;
    width: 100%; margin-left: 20px;
  }
  .maincontainer .container{
    min-width: 300px; padding-left: 0; margin-left: 0;
    width: 100%; display: block;
  }


}
  